<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <h5 class="about-heading">System Requirements</h5>
    <p>
      The Clarity CX Dashboard requires the use of the current version of Google Chrome, Firfox, Safari, or Internet Explorer IE 11+. Popup windows must be enabled.
    </p>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <h5 class="about-heading">Your system information:</h5>
    <p>
      <span>Browser: {{deviceInfo.browser}} {{deviceInfo.browser_version}}</span>
      <br />
      <span>Device: {{deviceType}}</span>
    </p>
  </div>
</div>