footer
{
	background-color: #00582c;
    padding:10px 0;
  .footerDesc
	{
	text-align: center;
		p{
		 font-size:14px;
		 color:#fff;
			a{
			 color:#fff;
			 text-decoration:underline;
			}
		}
	}
}