
<nav class="navbar bg-dark navbar-fixed-top">
  <div class="container">
      <div class="navbar-header">
          <!-- <a class="navbar-brand">
            <img src="assets/img/ngx-bootstrap.svg" class="logo">
          </a> -->
          <span class="navbar-brand">Clinical Healthcare</span>
      </div>
      <ul class="nav navbar-nav pull-right">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/medications">
              Medications
            </a>
          </li>
      </ul>
  </div>
</nav>

<!-- <li class="active"><a href="#">
    Link <span class="sr-only">(current)</span>
  </a></li>
  <li><a href="#">Link</a></li>
  <li class="dropdown" dropdown> 
      <a dropdownToggle role="button"> 
        Dropdown <span class="caret"></span></a>
      <ul *dropdownMenu class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">One more separated link</a></li>
      </ul>
  </li> -->