<header class="topHeader fixed-top">
    <div class="container">
       <div class="row">
           <div class="col-sm-12">
           <nav class="navbar navbar-expand-md">
             <a class="navbar-brand" href="auth/home"><img src="assets/images/logo.png" alt="image"/></a>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
               <span class="navbar-toggler-icon"></span>
             </button>
             <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                   <li class="nav-item active">
                      <a class="nav-link" href="auth/home">Home</a>
                   </li>
                   <li class="nav-item">
                      <a class="nav-link" href="auth/profile">Profile</a>
                   </li>
                   <li class="nav-item">
                      <a class="nav-link" href="auth/activity-log">Log</a>
                   </li>
                   <li class="nav-item">
                      <a class="nav-link" href="auth/resources">Resources</a>
                   </li>
                   <li class="nav-item">
                      <a class="nav-link" href="auth/summary">Summary</a>
                   </li>
                     <li class="nav-item">
                      <a class="nav-link btn btn-primary" href="/login">Sign Out</a>
                   </li>
                </ul>
             </div>
           </nav>
           </div>
       </div>
    </div>
 </header>