.topHeader
{
    padding: 10px 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    z-index: 99;
    background-color: #fff;
 .navbar
	{
		position: relative;
	    padding:0px;
		ul{
			margin:0px;
			
		    padding:0px;
			li{
				 font-family: 'roboto_condensedbold';
			     font-size:16px;
				text-transform:uppercase;
				a{
				 color: #00582c;
    		     padding: 6px 18px!important;
				}
			}
		}
	}
}
