<!--log sections-->
<div class="main">
    <section class="logEntries">
       <div class="container">
          <div class="row">
             <div class="col-sm-6 offset-sm-6">
                <div class="searchInput">
                   <div class="form-group has-search">
                      <span class="fa fa-search form-control-feedback"></span>
                      <input type="text" class="form-control" placeholder="Search">
                   </div>
                </div>
             </div>
             <div class="col-sm-12">
                <div class="logTable">
                   <div class="card bg-custom">
                      <div class="card-header">
                         <h1>Activity Log</h1>
                      </div>
                      <div class="card-body">
                         <div class="table-responsive">
                            <table class="table">
                               <thead>
                                  <tr>
                                     <th>Date</th>
                                     <th>Activity</th>
                                     <th>Hours</th>
                                     <th>Comments</th>
                                     <th>Competencies</th>
                                     <th>Actions</th>
                                  </tr>
                               </thead>
                               <tbody>
                                  <tr>
                                     <td>02/10/2020</td>
                                     <td>Speech & Debate</td>
                                     <td>10</td>
                                     <td>10</td>
                                     <td style="max-width: 300px;"> <span class="badge badge-primary">Critical Thinking / Problem Solving </span> ,
                                        <span class="badge badge-secondary">Oral / Written Communication </span>
                                        <span class="badge badge-success"> Teamwork / Collaboration </span>
                                     </td>
                                     <td><a href="#" class="edit btn btn-success btn-sm"><i class="fa fa-pencil-square-o"></i></a> <a href="#" class="delete btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></a></td>
                                  </tr>
                                  <tr>
                                     <td>02/10/2020</td>
                                     <td>Group Discussion</td>
                                     <td>10</td>
                                     <td>10</td>
                                     <td style="max-width: 300px;"> <span class="badge badge-primary">Critical Thinking / Problem Solving </span> ,
                                        <span class="badge badge-secondary">Oral / Written Communication </span>
                                        <span class="badge badge-success"> Teamwork / Collaboration </span>
                                     </td>
                                     <td><a href="#" class="edit btn btn-success btn-sm"><i class="fa fa-pencil-square-o"></i></a> <a href="#" class="delete btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></a></td>
                                  </tr>
                                  <tr>
                                     <td>02/10/2020</td>
                                     <td>Sports Team Formation</td>
                                     <td>10</td>
                                     <td>10</td>
                                     <td style="max-width: 300px;"> <span class="badge badge-primary">Critical Thinking / Problem Solving </span> ,
                                        <span class="badge badge-secondary">Oral / Written Communication </span>
                                        <span class="badge badge-success"> Teamwork / Collaboration </span>
                                     </td>
                                     <td><a href="#" class="edit btn btn-success btn-sm"><i class="fa fa-pencil-square-o"></i></a> <a href="#" class="delete btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></a></td>
                                  </tr>
                                  <tr>
                                     <td>02/10/2020</td>
                                     <td>Speech & Debate</td>
                                     <td>10</td>
                                     <td>10</td>
                                     <td style="max-width: 300px;"> <span class="badge badge-primary">Critical Thinking / Problem Solving </span> ,
                                        <span class="badge badge-secondary">Oral / Written Communication </span>
                                        <span class="badge badge-success"> Teamwork / Collaboration </span>
                                     </td>
                                     <td><a href="#" class="edit btn btn-success btn-sm"><i class="fa fa-pencil-square-o"></i></a> <a href="#" class="delete btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></a></td>
                                  </tr>
                               </tbody>
                            </table>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
 </div>