

.logEntries {
    padding: 50px 0;
    .searchInput {
        width: 50%;
        margin-left: auto;
        .has-search {
            position: relative;
            .form-control {
                padding-left: 2.375rem;
            }
            .form-control-feedback {
                position: absolute;
                z-index: 2;
                display: block;
                width: 2.375rem;
                height: 2.375rem;
                line-height: 2.375rem;
                text-align: center;
                pointer-events: none;
                color: #aaa;
            }
        }
    }
	.logTable {
	    margin:0 0 30px 0;
		 .card {
			.card-header {
				background-color: #00582c;
				h1{
				 color:#fff;
				}
			}
		}
	}
}