<form name="exportForm" class="form-horizontal" autocomplete="off"
  novalidate="novalidate" autocomplete="off" #form="ngForm" (ngSubmit)="form.valid && dataImport()">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="close.emit(true)">
      &times;
    </button>
    <h4 class="modal-title">Data Import</h4>
  </div>
  <alert [type]="messageObject.type" class="mb-10" dismissible="true" *ngIf="messageObject" (onClosed)="messageObject = null">
    <strong class="alert-heading">{{ messageObject.text }}!</strong> {{ messageObject.message }}
  </alert>
  <div class="modal-body">
    <div class="form-group" [class.error]="(form.submitted || serviceControl.touched) && serviceControl.invalid">
      <label class="col-md-4 control-label">Choose Service</label>
      <div class="col-md-8">
        <select name="service" [(ngModel)]="exportModel.service" required="required" class="form-control" (change)="serviceChanged()" #serviceControl="ngModel">
          <option [ngValue]="null">Select Service</option>    
          <option *ngFor="let service of clientServices" [ngValue]="service.ServiceName"> 
              {{service.ServiceName}}
            </option>
        </select>
        <span class="help-block">Please select service</span>
      </div>
    </div>

    <div class="form-group" [class.error]="(form.submitted || uploadControl.touched) && uploadControl.invalid" *ngIf="serviceControl.value">
      <label class="col-md-4 control-label">Upload JSON file</label>
      <div class="col-md-8">
        <input type="file" name="json_file" class="btn btn-default full-width" required="required" accept="application/json" (change)="fileChanged($event)" [(ngModel)]="exportModel.file" #uploadControl="ngModel" />
        <span class="help-block">Please upload json file</span>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="close.emit(true)">
      Close
    </button>
    <button type="submit" class="btn btn-primary" [disabled]="loading">Import</button>
  </div>
</form>
