<div class="main">
   <section class="profile">
      <div class="container">
         <div class="row">
            <div class="col-sm-12">
               <div class="profileSection">
                  <div class="card bg-custom">
                     <div class="card-header">
                        <h1>Profile</h1>
                     </div>
                     <div class="card-body">
                        <form action="/action_page.php" class="was-validated">
                           <div class="row">
                              <div class="col-sm-12">
                                 <h2>Students Profile</h2>
                              </div>
                              <div class="col-sm-6">
                                 <div class="form-group">
                                    <label>Student year</label>
                                    <select class="form-control">
                                       <option value="0" selected>Select a Year</option>
                                       <option value="0">Freshman</option>
                                       <option value="1">Sophomore</option>
                                       <option value="2">Junior</option>
                                       <option value="3">Senior</option>
                                    </select>
                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>
                                 </div>
                              </div>
                              <div class="col-sm-6">
                                 <div class="form-group">
                                    <label>Area(s) of study</label>
                                    <select class="form-control" multiple>
                                       <option value="0" selected>Select a Area Of Study</option>
                                       <option value="0">Freshman</option>
                                       <option value="1">Sophomore</option>
                                       <option value="2">Junior</option>
                                       <option value="3">Senior</option>
                                    </select>
                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>
                                 </div>
                              </div>
                              <div class="col-sm-6">
                                 <div class="form-group">
                                    <label>Career interest(s)</label>
                                    <select class="form-control" multiple>
                                       <option value="0" selected>Select Career Interest</option>
                                       <option value="0">Freshman</option>
                                       <option value="1">Sophomore</option>
                                       <option value="2">Junior</option>
                                       <option value="3">Senior</option>
                                    </select>
                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>
                                 </div>
                              </div>
            
                              <div class="col-sm-12">
                                 <h2>Competency Estimates</h2>
                              </div>
                              <div class="col-lg-3 col-md-3 col-sm-4">
                                 <div class="form-group">
                                    <label>Critical Thinking / Problem Solving</label>
                                    <input type="number" class="form-control" required>
                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>
                                 </div>
                              </div>
                       <div class="col-lg-3 col-md-3 col-sm-4">
                                 <div class="form-group">
                                    <label>Oral / Written Communication</label>
                                    <input type="number" class="form-control" required>
                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>
                                 </div>
                              </div>
                       <div class="col-lg-3 col-md-3 col-sm-4">
                                 <div class="form-group">
                                    <label>Teamwork / Collaboration</label>
                                    <input type="number" class="form-control" required>
                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>
                                 </div>
                              </div>
                       <div class="col-lg-3 col-md-3 col-sm-4">
                                 <div class="form-group">
                                    <label>Digital Technology</label>
                                    <input type="number" class="form-control" required>
                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>
                                 </div>
                              </div>
                       <div class="col-lg-3 col-md-3 col-sm-4">
                                 <div class="form-group">
                                    <label>Leadership</label>
                                    <input type="number" class="form-control" required>
                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>
                                 </div>
                              </div>
                       <div class="col-lg-3 col-md-3 col-sm-4">
                                 <div class="form-group">
                                    <label>Professionalism / Work Ethic</label>
                                    <input type="number" class="form-control" required>
                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>
                                 </div>
                              </div>
                       <div class="col-lg-3 col-md-3 col-sm-4">
                                 <div class="form-group">
                                    <label>Career Management</label>
                                    <input type="number" class="form-control" required>
                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>
                                 </div>
                              </div>
                       <div class="col-lg-3 col-md-3 col-sm-4">
                                 <div class="form-group">
                                    <label>Global / Intercultural Fluency</label>
                                    <input type="number" class="form-control" required>
                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>
                                 </div>
                              </div>
                       <div class="col-sm-12">
                                 <h2>Communication</h2>
                              </div>
                              <div class="col-sm-6">
                                 <div class="form-group">
                                    <label>Email Address</label>
                                    <input type="email" class="form-control" required>
                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>
                                 </div>
                              </div>
                       <div class="col-sm-6">
                                 <div class="form-group">
                                    <label>Reminder Frequency</label>
                                    <select class="form-control">
                                       <option value="0" selected>Select Reminder Frequency</option>
                                       <option value="0">Daily</option>
                                       <option value="1">Weekly</option>
                                    </select>
                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>
                                 </div>
                              </div>
                      <div class="col-sm-12">
                       <div class="form-group">
                                  <button type="submit" class="btn btn-primary commonBtn" id="btnLogin">Submit </button>
                                 </div>
                      </div>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
</section>
</div>