<div class="row col-md-12">
  <div class="col-md-offset-2 col-md-7" style="height:440px;border:2px solid black;margin-top:10px">
    <span style="border:2px solid black; margin-top:5px;height:240px;margin-right:20px;" class="col-md-9"></span>
    <button class="btn button">1</button>
    <button class="btn button">2</button>
    <button class="btn button">3</button>

    <button class="btn button">4</button>
    <button class="btn button">5</button>
    <button class="btn button">6</button>

    <button class="btn button">7</button>
    <button class="btn button">8</button>
    <button class="btn button">9</button>

    <button class="btn button">10</button>
    <button class="btn button">11</button>
    <button class="btn button">12</button>

    <button class="btn button">13</button>
    <button class="btn button">14</button>
    <button class="btn button">15</button>

    <button class="btn button">16</button>
    <button class="btn button">17</button>
    <button class="btn button">18</button>

    <button class="btn button">19</button>
    <button class="btn button">20</button>
    <button class="btn button">21</button>

    <button class="btn button">22</button>
    <button class="btn button">23</button>
    <button class="btn button">24</button>

    <button class="btn button">25</button>
    <button class="btn button">26</button>
    <button class="btn button">27</button>

    <button class="btn button">28</button>
    <button class="btn button">29</button>
    <button class="btn button">30</button>

    <button class="btn button">31</button>
    <button class="btn button">32</button>
    <button class="btn button">33</button>

    <button class="btn button">34</button>
    <button class="btn button">35</button>

  </div>

  <div class="col-md-offset-2 col-md-7" style="height:300px;border:2px solid black;margin-top:10px">
    <div class="col-md-2">
      <p>Key Function Group</p>
      <select>
        <option></option>
      </select>
    </div>
    <div class="col-md-2">
      <p>Key Function</p>
      <select>
        <option></option>
      </select>
    </div>
    <div class="col-md-2">
      <p>Overlay</p>
      <select>
        <option></option>
      </select>
    </div>

    <div class="col-md-1">
      <p>All Ovr</p>
      <input type="checkbox" />
    </div>

    <div class="col-md-2">
      <p>Key</p>
      <table>
        <tr><td><input type="text" class="key" /></td></tr>
        <tr><td><input type="text" class="key" /></td></tr>
        <tr><td><input type="text" class="key" /></td></tr>
        <tr><td><input type="text" class="key" /></td></tr>
      </table>
    </div>

    <div class="col-md-3">
      <table>
        <tr><td><input type="button" value="Liskey" class="btn col-md-11 col-md-offset-1" style="margin-bottom:5px;" /></td></tr>
        <tr><td><input type="checkbox" class="col-md-1" /><input type="button" value="validation Text" class="btn col-md-11" /></td></tr>
      </table>
    </div>

    <div class="row col-md-12">
      <div class="col-md-2">
        <p>Key Label</p>
        <input type="text" />
      </div>

      <div class="col-md-2">
        <p>Key Image</p>
        <input type="file" />
      </div>

      <div class="col-md-2">
        <p>Key Image</p>
        <select><option></option></select>
      </div>
    </div>

    <div class="row col-md-12">
      <div class="col-md-2">
        <p>Security Reprompt</p>
        <input type="checkbox" />
      </div>

      <div class="col-md-2">
        <p>Confirmation</p>
        <input type="checkbox" />
      </div>

      <div class="col-md-2">
        <p>Low Limit</p>
        <input type="text" />
      </div>

      <div class="col-md-2">
        <p>High Limit</p>
        <input type="text" />
      </div>

      <div class="col-md-2">
        <p>Minimum Authorization</p>
        <select><option></option></select>
      </div>

      <div class="col-md-2">
        <p>Threshold</p>
        <input type="text" />
      </div>
    </div>
    </div>
  <div class="col-md-3" style="height:300px;border:2px solid black;margin-top:10px">

    <table>
      <tr>
      <td><button class="btn button">Single</button></td>
      <td><button class="btn buttonDoubleKey">Double</button></td>
      </tr>
      <tr>
        <td><button class="btn buttonDouble">Double</button></td>
        <td><button class="btn buttonQuard">Double</button></td>
      </tr>
  </div>

  </div>
<style type="text/css">
  .button {
    margin:2px;
    height:80px;
    width: 80px;
  }
 
  .buttonDouble {
    margin: 2px;
    height: 160px;
    width: 80px;
  }

  .buttonDoubleKey {
    margin: 2px;
    height: 80px;
    width: 160px;
  }

  .buttonQuard {
    margin: 2px;
    height: 160px;
    width: 160px;
  }
  select {
    width:100px;
    height:24px;
  }
  .key {
    margin: 2px;
    height: 20px;
    width: 50px;
  }
</style>