.resourcesSection {
	padding: 50px 0;
	.commonHeading {
		margin: 0 0 20px 0;
	}
	.resourceDesc {
		margin: 0 0 10px 0;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
		.card {
			.card-header {
				background-color: #00582c;
				a {
					color: #fff;
				}
			}
			.card-body {
				.resourceDescInner {
					margin: 0 0 8px;
				}
			}
		}
	}
}