<!--resources sections-->
<div class="main">
    <section class="resourcesSection">
    <div class="container">
       <div class="row">
          <div class="col-sm-12">
             <div class="commonHeading">
                <h1>Resources</h1>
             </div>
          </div>
          <div class="col-sm-12">
             <div class="resourceDesc">
                <div class="card bg-custom">
                   <div class="card-header">
                      <a href="#">Interesting Article</a>
                   </div>
                   <div class="card-body">
                    <div class="resourceDescInner">
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                       </div>
                      <div class="resourceBadge">
                          <span class="badge badge-primary">Critical Thinking / Problem Solving </span> ,
                         <span class="badge badge-secondary">Oral / Written Communication </span> ,
                         <span class="badge badge-success"> Teamwork / Collaboration </span>
                      </div>
                   </div>
                </div>
             </div>
              <div class="resourceDesc">
                <div class="card bg-custom">
                   <div class="card-header">
                      <a href="#">Interesting Article</a>
                   </div>
                   <div class="card-body">
                    <div class="resourceDescInner">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                       </div>
                      <div class="resourceBadge">
                          <span class="badge badge-primary">Critical Thinking / Problem Solving </span> ,
                         <span class="badge badge-secondary">Oral / Written Communication </span> ,
                         <span class="badge badge-success"> Teamwork / Collaboration </span>
                      </div>
                   </div>
                </div>
             </div>
              <div class="resourceDesc">
                <div class="card bg-custom">
                   <div class="card-header">
                      <a href="#">Interesting Article</a>
                   </div>
                   <div class="card-body">
                    <div class="resourceDescInner">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                       </div>
                      <div class="resourceBadge">
                          <span class="badge badge-primary">Critical Thinking / Problem Solving </span> ,
                         <span class="badge badge-secondary">Oral / Written Communication </span> ,
                         <span class="badge badge-success"> Teamwork / Collaboration </span>
                      </div>
                   </div>
                </div>
             </div>
              <div class="resourceDesc">
                <div class="card bg-custom">
                   <div class="card-header">
                      <a href="#">Interesting Article</a>
                   </div>
                   <div class="card-body">
                    <div class="resourceDescInner">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                       </div>
                      <div class="resourceBadge">
                          <span class="badge badge-primary">Critical Thinking / Problem Solving </span> ,
                         <span class="badge badge-secondary">Oral / Written Communication </span> ,
                         <span class="badge badge-success"> Teamwork / Collaboration </span>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
