<section class="loginPage">
    <div class="loginInner">
       <div class="container-fluid">
          <div class="row">
             <div class="col-lg-4 col-md-4 pd-0">
                <div class="loginDesc">
                   <div class="loginLogo"><img src="assets/images/loginlogo.png" alt="image"/></div>
                   <p>Education portal provides a way for students to record evidence of their skill development, tracking their progress</p>
                </div>
             </div>
             <div class="col-lg-8 col-md-8 pd-0">
                <div class="loginForm">
                   <div class="row">
                      <div class="col-sm-12">
                         <h1>Reset Password</h1>
                      </div>
                   </div>
                  <form  #resetForm="ngForm" class="was-validated" (ngSubmit)="onSubmit()">
                    <div class="row">
                       <div class="col-sm-12">
                          <div class="form-group">
                             <label>New Password</label>
                             <input type="password" class="form-control" #password=ngModel [(ngModel)]="resetPasswordData.password" [ngModelOptions]="{standalone: true}" required>
                             <div class="valid-feedback">Valid.</div>
                             <div class="invalid-feedback" *ngIf="password.touched">Please fill out this field.</div>
                          </div>
                   <div class="form-group">
                             <label>Confirm Password</label>
                             <input type="password" class="form-control" #cpassword=ngModel [(ngModel)]="resetPasswordData.newpassword" [ngModelOptions]="{standalone: true}"required>
                             <div class="valid-feedback">Valid .</div>
                             <div class="invalid-feedback" *ngIf="cpassword.touched">Please fill out this field.</div>
                          </div>
                          <div class="form-group">
                             <button type="submit" class="btn btn-primary commonBtn" id="btnLogin" (click)="onSubmit()">Submit</button>
                          </div>
                       </div>
                    </div>
                 </form>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>